@charset "UTF-8";

@font-face {
    font-family: "ComicNeue";
    src: url(./font/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: "EduVIC";
    src: url(./font/EduVICWANTBeginner-Regular.ttf);
}

@font-face {
    font-family: "SedwickAve"; /* also known as manga font */
    src: url(./font/SedgwickAve-Regular.ttf);
}