@import url(font.css);


* {
    box-sizing: border-box;
}

#body {
    font-family: "ComicNeue";
}

/* font family */
.f-EDU {
    font-family: "EduVIC", Arial, Helvetica, sans-serif;
}

.f-CN {
    font-family: "ComicNeue", Arial, Helvetica, sans-serif;
}

.f-SWA {
    font-family: "SedwickAve", Arial, Helvetica, sans-serif;
}

.fI {
    font-style: italic;
}

.fB {
    font-weight: bold;
}

.fD {
    color: #00000075;
}

/* Iframe styles */

main {
    width: 78%;
    margin: 5px auto;
}

iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}


/* video {
    width: 100%;
    height: auto;
} */

/* nav bar (not navbar actually) */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a .logo {
    display: block;
    width: 35px;
    height: 35px;
}

nav .btn {
    text-decoration: none;
    color: #1e1e1e;
    padding: .3rem .2rem;
    border-radius: 5px;
    background-color: rgb(89, 211, 95);
}