@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    scrollbar-width: thin;
    scrollbar-color: #616161 hsla(180, 100%, 50%, 0.3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 250ms ease-in-out;
    /* outline: 6px solid lightgreen; */
}

body {
    margin: 0 auto;
    width: min(830px, calc(100% + 70px));
    font-family: "Inter", sans-serif;
    /* background-color: #0d1117; */
    /* color: #9198a1; */
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

    & a {
        padding: min(16px, calc(1vw + 2px));
    }
}

a:hover {
    background-color: hsl(55.06deg 100% 50%);
}

nav div {
    display: grid;
    place-items: center;
}

iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

main#musicList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & a {
        text-transform: capitalize;
        padding: min(12px, calc(1vw + 2px));
    }
}

main#musicList a:hover {
    text-decoration: none;
    color: #616161;
    background-color: #bababa;
    text-shadow: #e0e0e0 1px 1px 0;
}

@media screen and (max-width: 500px) {
    body {
        width: min(380px, calc(100% + 70px));
        padding: 0 .2rem;

        & nav {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    main#musicList {
        grid-template-columns: 1fr;
    }
}